/* Reset */
#extendedMainNews li {
    list-style: auto;
}
#extendedMainNews table {
    border-collapse: collapse;
}
#extendedMainNews table tr td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

#extendedMainNews .wrap {
    position: relative;
}
#extendedMainNews .wrap .date {
    position: absolute;
    top: 30px;
    left: 30px;    
}
#extendedMainNews .wrap img {
    width: 100%;
    display: block;
    margin: 50px auto;
}

@media (min-width: 1024px) {
    #extendedMainNews .wrap img {
        width: 300px;
    }
}

@media (min-width: 1680px) {
    #extendedMainNews .wrap img {
        width: 400px;
    }
}